@import 'config';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    background: $color-primary;
};

//nesting example
.main {
    @include flexCenter(column);
    width: 80%;
    margin: 0 auto;

    // & = parent
    #{&}__paragraph {
        font-weight: weight(regular);

        &:hover {
            color: pink;
        }
    }
}